/*--------------------------------------------------------------
	#home style 2
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#2.0	why-choose-section
--------------------------------------------------------------*/
.why-choose-section {
	padding-bottom: 90px;

	@include media-query(991px) {
		padding-bottom: 80px;
	}

	@include media-query(767px) {
		padding-bottom: 70px;
	}

	background-color: #e3eff5;

	@include widther(992px) {
		margin-top: -75px;
	}

	.why-choose-grids {
		margin-top: 35px;
	}

	.owl-controls {
		position: relative;
		margin-top: 50px;

		@include media-query(767px) {
			margin-top: 40px;
		}
	}

	.owl-controls .owl-dots .owl-dot span {
		width: 12px;
		height: 12px;
		background: $theme-primary-color;
		border: 3px solid #e3eff5;
		box-shadow: 0 0 0 2px transparent;
	}

	.owl-controls .owl-dots .active span {
		border: 3px solid #e3eff5;
		box-shadow: 0 0 0 2px $theme-primary-color;
	}
}


/*--------------------------------------------------------------
#2.1	why-choose-section
--------------------------------------------------------------*/
.services-section-s2 {
	@extend .services-section;
	background-color: #fff;
	position: relative;

	&:after {
		content: "";
		width: 100%;
		height: 640px;
		position: absolute;
		left: 0;
		top: 0;
	}

	> .container {
		position: relative;
		z-index: 10;
	}

	.section-overlay {
		display: none;
	}

	.services-grids .grid .overlay {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	.owl-controls .owl-nav .owl-prev, 
	.owl-controls .owl-nav .owl-next {
		background-color: #efefef;
	}
}


/*--------------------------------------------------------------
#2.2	case-studies-s2
--------------------------------------------------------------*/
.case-studies-s2 {
	padding: 0;
	position: relative;
	z-index: 10;

	.recent-case {
		position: relative;

		&:before {
			content: "";
			width: calc(100% - 30px);
			height: calc(100% - 30px);
			border: 1px solid #868078;
			position: absolute;
			left: 15px;
			top: 15px;
		}

		.details {
			width: 100%;
			padding: 0 120px 0 40px;
			position: absolute;
			left: 0;
			bottom: 60px;

			@include media-query(991px) {
				padding: 0 95px 0 40px;
			}

			@include media-query(767px) {
				padding: 0 25px 0 40px;
			}
		}

		.cat {
			background-color: #fa4949;
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: $white;
			padding: 3px 12px;
			display: inline-block;
		}

		h3 {
			font-size: 20px;
			font-size: calc-rem-value(20);
			font-weight: 500;
			line-height: 1.3em;
			margin: 1em 0 0;

			@include media-query(767px) {
				font-size: 18px;
				font-size: calc-rem-value(18);
			}
		}

		h3 a {
			color: $white;
		}
	}

	.case-grids {
		overflow: hidden;
		margin: 0 -2px 0 -28px;

		@include media-query(991px) {
			margin: 4px -2px 0;
		}

		.grid {
			width: calc(50% - 4px);
			float: left;
			margin: 0 2px 4px;
			position: relative;

			@include media-query(520px) {
				width: calc(100% - 4px);
			}
		}

		.grid-s2:before {
			content: "";
			@include overlay($theme-primary-color);
		}

		.grid-s3:before {
			content: "";
			@include overlay(#fa4949);
		}

		.grid .details {
			width: 100%;
			padding: 0 40px 0 18px;
			position: absolute;
			left: 0;
			bottom: 20px;
		}

		.grid .details h4 {
			font-size: 16px;
			font-size: calc-rem-value(16);
			font-weight: 500;
			line-height: 1.25em;
			margin: 0.3em 0 0;

			@include media-query(1199px) {
				font-size: 14px;
				font-size: calc-rem-value(14);
			}

			@include media-query(991px) {
				padding-right: 15px;
			}
		}

		.grid .details h4 a {
			color: $white;
		}

		.grid-s1 .cat {
			background-color: $theme-primary-color;
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: $white;
			padding: 3px 12px;
			position: absolute;
			top: 25px;
			left: 18px;
		}

		.grid-s2 .cat,
		.grid-s3 .cat {
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: $white;
		}

		.grid-s2 .icon,
		.grid-s3 .icon {
			position: absolute;
			right: 35px;
			top: 22px;
		}

		.grid-s4 .video-holder i {
			background-color: $white;
			width: 30px;
			hiehgt: 30px;
			line-height: 30px;
			border-radius: 50%;
			text-align: center;
			color: $theme-primary-color;
		}

		.grid-s4 .video-holder a {
			font-size: 14px;
			font-size: calc-rem-value(14);
			color: $white;
		}

		.grid-s4 .details h4 {
			margin-top: 1em;
		}
	}
}


/*--------------------------------------------------------------
#2.3	newsletter-section
--------------------------------------------------------------*/
.newsletter-section {
	@include background-style("../images/newsletter-section-bg.jpg", center center, cover, no-repeat, local);
	padding: 255px 0 100px;
	position: relative;
	margin-top: -150px;

	@include media-query(991px) {
		padding: 155px 0 90px;
		margin-top: -80px;
	}

	@include media-query(767px) {
		padding: 155px 0 80px;
		margin-top: -90px;
	}

	&:before {
		content: "";
		@include overlay(transparentize($theme-primary-color, 0.1));
	}

	h2 {
		font-size: 30px;
		font-size: calc-rem-value(30);
		font-weight: normal;
		line-height: 1.4em;
		color: $white;
		margin: 0;

		@include media-query(1199px) {
			font-size: 25px;
			font-size: calc-rem-value(25);
		}

		@include media-query(991px) {
			margin: 0 0 1em;
		}

		@include media-query(767px) {
			font-size: 22px;
			font-size: calc-rem-value(22);
		}

		span {
			font-weight: 600;
		}
	}

	form div {
		position: relative;

		button {
			font-family: $heading-font;
			background-color: $theme-primary-color;
			width: 158px;
			height: 50px;
			font-size: 16px;
			font-size: calc-rem-value(16);
			font-weight: 500;
			color: $white;
			line-height: 50px;
			border: 1px solid $white;
			position: absolute;
			right: 0;
			top: 0;

			@include media-query(767px) {
				width: 120px;
				height: 45px;
				line-height: 45px;
				font-size: 14px;
				font-size: calc-rem-value(14);
			}
		}
	}

	form input {
		background-color: $white;
		height: 50px;
		padding: 6px 168px 6px 25px;
		border: 0;
		outline: 0;
		box-shadow: none;
		border-radius: 0;

		@include media-query(767px) {
			height: 45px;
			padding: 6px 130px 6px 15px;
		}
	}
}


/*--------------------------------------------------------------
#2.4	testimonials-section-s2
--------------------------------------------------------------*/
.testimonials-section-s2 {
	.testimonials-grids .client-pic img {
		width: auto;
		display: inline-block;
		border-radius: 50%;
	}

	.grid {
		text-align: center;
	}

	.client-qote {
		padding: 85px 45px 0;
		position: relative;

		@include media-query(1199px) {
			padding: 85px 0 0;
		}

		@include media-query(991px) {
			padding: 45px 0 0;
		}

		&:before {
			font-family: $heading-font;
			content: "“";
			font-size: 200px;
			font-size: calc-rem-value(200);
			color: $theme-primary-color;
			position: absolute;
			top: -50px;
			left: 50%;
			@include translatingX();

			@include media-query(991px) {
				font-size: 100px;
				font-size: calc-rem-value(100);
				top: -25px;
			}
		}
	}

	.client-qote p {
		font-size: 24px;
		font-size: calc-rem-value(24);
		line-height: 1.75em;
		color: $theme-primary-color;

		@include media-query(991px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}

		@include media-query(767px) {
			font-size: 16px;
			font-size: calc-rem-value(16);
		}
	}

	.client-info {
		min-height: 42px;
		display: inline-block;
		position: relative;
		padding-left: 55px;
		text-align: left;
		margin-top: 35px;

		h5 {
			font-size: 20px;
			font-size: calc-rem-value(20);
			font-weight: 600;
			margin: 0;
			color: $theme-primary-color;

			@include media-query(991px) {
				font-size: 17px;
				font-size: calc-rem-value(17);
			}

			@include media-query(767px) {
				font-size: 15px;
				font-size: calc-rem-value(15);
			}
		}

		h5 + span {
			font-size: 15px;
			font-size: calc-rem-value(15);
			color: #7a8595;

			@include media-query(767px) {
				font-size: 13px;
				font-size: calc-rem-value(13);
			}
		}

		.client-pic {
			position: absolute;
			left: 0;
			top: 0;
		}
	}


	@include widther(1200px) {
		.owl-controls {
			width: 100%;
			margin-top: 0;
			position: absolute;
			top: 50%;
			@include translatingY();
		}

		.owl-controls .owl-nav .owl-prev,
		.owl-controls .owl-nav .owl-next {
			position: absolute;
			top: -17px;
		}

		.owl-controls .owl-nav .owl-prev {
			left: -100px;
		}

		.owl-controls .owl-nav .owl-next {
			right: -100px;
		}
	}

	.owl-controls {
		@include media-query(1199px) {
			margin-top: 40px;
		}

		@include media-query(767px) {
			margin-top: 30px;
		}
	}

	.owl-controls .owl-nav .owl-prev,
	.owl-controls .owl-nav .owl-next {
		background: #f3f4f7;
		width: 35px;
		height: 35px;
		line-height: 38px;
		padding: 0;
		border-radius: 0;
		color: $theme-primary-color;

		&:hover {
			background-color: $theme-primary-color;
			color: $white;
		}
	}
}